// Styland Path
$stylandBasePath: "~styland/";

// Default Font Variables
$defaultFontColor: "black-light";
$defaultFontSize: 8;
$defaultFontWeight: 400;
$fallbackFontFamily: Arial;

// Font Family Variables
$fontFamilyNamePrimary: "Hind";
$fontFamilyNameSecondary: "Noto Sans";

// Font Size Variables
$fs10: 12px;
$fs9:  14px;
$fs8:  16px;
$fs7:  18px;
$fs6:  20px;
$fs5:  22px;
$fs4:  24px;
$fs3:  28px;
$fs2:  36px;
$fs1:  48px;

// Font Weight Variable
$fontWeights: 300, 400, 500, 600, 700;

// Color
$colorFirst: #eb6868;
$colorSecond: #4c87d9;
$colorThird: #87af8b;
$colorDanger: #d72b35;
$colorSuccess: #6ad781;
$colorWarning: #ebbd15;
$colorInfo: #32b5d7;
$colorBlack: #111;
$colorBlackLight: #333;
$colorBlackLighten: #555;
$colorBlackLightest: #777;
$colorBlackLightness: #999;
$colorWhiteDarkness: #d0d0d0;
$colorWhiteDarkest: #e1e1e1;
$colorWhiteDarken: #ececec;
$colorWhiteDark: #f6f6f6;
$colorWhite: #ffffff;

// Margin Variables
$marginMin: 0;
$marginMax: 80;
$marginStep: 5;

// Padding Variables
$paddingMin: 0;
$paddingMax: 80;
$paddingStep: 5;

// Viewport Variables
$screen-xl-width: 1400px;
$screen-lg-width: 1200px;
$screen-md-width: 960px;
$screen-sm-width: 770px;
$gap-val: 15;
$gap-px: #{$gap-val}px;
$gutter: $gap-val * 2;

// Components Using Variables
$useDropdownComponent: true;
$useSideNavbarComponent: true;
$useNavbarComponent: true;
$useButtonComponent: true;
$useElementsComponent: true;
$useModalComponent: true;
$useTabComponent: true;
$useChipComponent: true;
$useSearchSelectComponent: true;
$useSnackbarComponent: true;
$useContentPlaceholderComponent: true;
$useFileComponent: true;
$useChooseComponent: true;

// Css Variable
:root {
    --color-red: $colorDanger;
    --color-blue: $colorInfo;
    --color-green: $colorSuccess;
    --color-yellow: $colorWarning;
    --color-primary: #eb6868;
    --color-secondary: $colorSecond;
    --color-success: $colorSuccess;
    --color-danger: $colorDanger;
    --color-warning: $colorWarning;
    --color-info: $colorInfo;
}
