.view-height-100 {
  height: 100vh;
}
.view-width-100 {
  width: 100vw;
}
.width-25 {
  width: 25%;
}
.height-25 {
  height: 25%;
}
.width-50 {
  width: 50%;
}
.height-50 {
  height: 50%;
}
.width-75 {
  width: 75%;
}
.height-75 {
  height: 75%;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}